{{#if can_display }}
<div class="topic-custom-field-input">
  <select class="topic-custom-field-input small" onchange={{action 'onChangeField' value="target.value"}}>
    <option value="">选择 TiDB 版本</option>

    {{#each versions as |v|}}
      <option value="{{v}}" selected={{eq fieldValue v }} >{{v}}</option>
    {{/each}}
  </select>
</div>
{{/if}}